##{getGlobal("SITE.APP_ROOT_ID")} {
  --mdc-theme-primary: #e10000;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-accent: #e10000;
  --mdc-theme-secondary: #e10000;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-on-surface: #fff;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

@import '~preact-material-components/Button/style.css';
@import '~preact-material-components/Slider/style.css';
@import '~preact-material-components/LinearProgress/style.css';
@import '~preact-material-components/IconButton/style.css';
